@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root {
  --primary-color: #77a5ff;
  --primary-color-opacity: rgba(119, 165, 255, 0.5);
  --primary-color-opacity-hover: rgba(119, 165, 255, 0.8);
  --background-color: #000e2a;
  --border-radius: 25px;
  --tooltip-display: none;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-height: 100vh;
  background-color: var(--background-color);
  color: #f2f2f2;
  background-attachment: fixed;
  font-family: 'Dosis', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 60px;
  column-gap: 10px;
  row-gap: 10px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.item {
  background: var(--primary-color-opacity);
  color: white;
  border-radius: var(--border-radius);
  padding: 20px;
  width: 120px;
  height: 80px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.close-container {
  display: flex;
  justify-content: flex-end;
}

.link-info-name {
  text-align: center;
  font-size: 13px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.item:hover {
  background: var(--primary-color-opacity-hover);
}

a {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
  overflow: hidden;
}

a:hover,
a:active {
  text-decoration: underline;
}

.fa-pen {
  float: left;
  cursor: pointer;
}

.fa-pen:hover {
  color: black;
}

.fa-times {
  float: right;
  cursor: pointer;
}

.fa-times:hover {
  color: rgb(223, 60, 60);
}

.fa-trash {
  float: right;
  cursor: pointer;
}

.fa-trash:hover {
  color: rgb(223, 60, 60);
}

.name {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  text-transform: capitalize;
  font-size: 20px;
}

.name img {
  height: 20px;
  width: 20px;
}

.modal-confirm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-delete {
  min-width: 500px;
  height: 250px;
  background-color: white;
  animation: modalopen 1s;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.title-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: #bb4343;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.body-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  column-gap: 10px;
  color: #000e2a;
}

.button-confirm {
  height: 20%;
  background-color: rgb(241, 240, 240);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

#cancel {
  border-radius: 10px;
  background-color: #cec7c7;
  border: 1px solid black;
  cursor: pointer;
  width: 20%;
  height: 80%;
}

#confirm {
  border-radius: 10px;
  background-color: #bb4343;
  border: 1px solid black;
  cursor: pointer;
  width: 20%;
  height: 80%;
  color: white;
}

.display-none {
  display: none;
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 600px) {
  .modal-delete {
    min-width: 90vw;
  }
}
